body {
    margin: 0px;
    font-family: 'Viaoda Libre', cursive;
}

.title1 {
    color: black;
    text-align: center;
    margin: 0px;
    padding-left: 50;
    padding-right: 50;
    padding-top: 500;
    padding-bottom: 100;
    display: block;
    background: url('Images/action4.jpg');
    background-size: cover;
    width: 1340;
    height: 180;
}

.title2 {
font-size: 85;
background-color: rgba(211, 211, 211, 0.424);
    
}


.header2 {
    
    border:  rgb(226, 224, 224);
    background-color: rgb(226, 224, 224);
    padding: 150px;
}

h2 {
font-size: 30;
}

h3 {
font-weight: bold;
font-size: 25;
}

h4 {
    font-size: 20;
}

h5 {
    font-size: 50;
    padding-left: 70;
    color: black;
    margin: 100;
    background-color: rgb(241, 239, 239);
}

.books {
    display: table;
    color: black;
  }


a {
    color: black;
    font-size: 20;
    text-decoration: none;
    text-decoration-color: grey;
}


.break {
    padding: 10px;
    background-color: rgb(66, 65, 65);
    margin: 0;
    color: rgb(66, 65, 65);
    
}

.button {
    width: 100%;
    height: 80%;
    display: block;
    background: url('Images/kidnapped1.jpg');
    background-size: cover;
    padding-top: 600px;
}

.button2 {
    width: 100%;
    height: 80%;
    display: block;
    background: url('Images/lightning.jpg');
    background-size: cover;
    padding-top: 600px;
}

.button3 {
    width: 100%;
    height: 80%;
    display: block;
    background: url('Images/davincicode.jpg');
    background-size: cover;
    padding-top: 600px;
}

.button4 {
    width: 100%;
    height: 80%;
    display: block;
    background: url('Images/moby.jpg');
    background-size: cover;
    padding-top: 600px;
}

.button5 {
    width: 100%;
    height: 80%;
    display: block;
    background: url('Images/treasure-island-247.jpg');
    background-size: cover;
    padding-top: 600px;
}



#row1 {
    float: left;
    height:400; 
    width:400px;
    margin-left: 200px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(102, 98, 98, 0.835);
    font-size: 20;
}

#row2 {
    float: right;
    height:400; 
    width:400px;
    margin-right: 200px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(102, 98, 98, 0.835);
}

#row3 {
    float: left;
    height:400; 
    width:400px;
    margin-left: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(102, 98, 98, 0.835);
}

#row4 {
    float: right;
    height:400; 
    width:400px;
    margin-right: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(102, 98, 98, 0.835);
}

#row5 {
    float: center;
    height:400; 
    width:400px;
    margin-right: 40px;
    margin-left: 450px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(102, 98, 98, 0.835);
    margin-bottom: 50px;
}
