.body {
    background-color: rgb(226, 224, 224);
    margin: 0;
    font-family: 'Viaoda Libre', cursive;
} 

.nav {
    background-color: rgb(170, 170, 170);
    overflow: hidden;
  }
  
.nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  

  .main {
    background-color: goldenrod;
  }
  
  
  .nav .icon {
    display: none;
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .dropdown .dropgbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(211, 164, 47, 0.767);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .nav a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
    color: white;
  }
  

  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }

h1 {
  text-align: center;
  font-size: 100;
  padding-top: 20;
  padding-bottom: 20;
  margin-left: 380;
  margin-right: 380;
  background-color: rgba(128, 128, 128, 0.424);
}
  
h2 {
  text-align: center;
  font-size: 50;
  background-color: rgba(128, 128, 128, 0.486);

}

p {
  text-align: center;
  font-size: 35;
  background-color: rgba(128, 128, 128, 0.486);
}

      body {
        background-image: url('Images/background.jpg');
        background-size: cover;
      }
  
